div#tab-contents
  div.tab-content.calendar
    div.month-name July
      span 2020

    - var day_names = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"];
    - var days = [30, 31, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 1, 2];

    - for(i=0;i<7;i++)
        div.day.day-name=day_names[i]
    - for(j=0;j<35;j++)
      - if(j == 0 || j == 1 || j == 33 || j == 34)
          div.day.day-disabled
            span= days[j]
      - else if(j == 10)
        div.day.day-now
          span= days[j]
      - else if(j == 7 || j == 5 || j == 20)
        div.day.day-now
          span= days[j]
      - else
          div.day
            span= days[j]
