mixin inc_meta_facebook(metas)
  meta(property='og:type' conetnt=metas.type)
  meta(property='og:locale' conetnt=metas.locale)
  meta(property='og:site_name' conetnt=site_info.title)
  meta(property='og:url' conetnt=metas.url)
  meta(property='og:title' conetnt=metas.title)
  meta(property='og:description' conetnt=metas.description)
  meta(property='og:image' conetnt=metas.image)
  meta(property='og:image:width' conetnt=metas.image_width)
  meta(property='og:image:height' conetnt=metas.image_height)
  meta(property='fb:app_id' conetnt=site_info.fb_appid)
